.cars {
  position: relative;
}

.cars__container {
  max-width: 1200px;
  min-height: 200px;
  margin: 0 auto;
}

.empty {
  margin-top: 20px;
  text-align: center;
  font-size: 22px;
  font-family: 'JetBrains Mono', monospace;
  padding: 10px 30px;
}