.car-article {
  padding-top: 20px;
  border: 3px solid #025E73;
  border-radius: 15px;
  padding-inline: 10px;
  margin: 20px auto;
  max-width: 660px;
}
.car__class {
  text-align: center;
  margin-bottom: 15px;
}
.car__title {
  flex: 0 1 200px;
  margin-right: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.car__name {
  margin-top: 10px;
  text-align: center;
  font-family: 'Joti One';
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  color: #000000;
}
.car__specs {
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.spec {
  margin-bottom: 13px;
}
.spec__name {
  font-family: 'JetBrains Mono';
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  color: #FFFFFF;
  text-shadow: 1px 0 1px #000000,
  0 1px 1px #000000,
  -1px 0 1px #000000,
  0 -1px 1px #000000;
  margin-right: 7px;
}
.main__spec {
}
.fuel__spec {
}
.spec-abs {
  margin-left: 30px;
  margin-bottom: 10px;
  & .spec__name {
    font-size: 18px;
  }
  & .spec__value {
    font-size: 18px;
  }
}
.spec__value {
  font-family: 'K2D';
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  color: #000000;
}
